<html ng-app="myApp">

<head>
<title></title>

</head>
      <body>
        <div ng-controller="navController">
         <li><a href = "" ng-click="go()">Take Quiz</a></li>
        </div>
      </body>


  <script src="/javascripts/vendors/angular.js"></script>
  <script src="/javascripts/vendors/angular-resource.min.js"></script>
<script src="/javascripts/vendors/ui-bootstrape1.js"></script>


<script src="/javascripts/main.js"></script>
<script src="/javascripts/vendors/htmlQuiz_pg.js"></script>
</html>